<%= content_for :page_title, 'Emco Masonry - Utah Masonry' %>

<ul class="slideshow " data-orbit>
  <li>
    <%= image_tag 'emco-421.jpg', class: 'scroller' %>
    <div class="orbit-caption">
      Autozone
    </div>
  </li>
  <li>
    <%= image_tag 'hallway.jpg', class: 'scroller'  %>
    <div class="orbit-caption">
      North Sanpete
    </div>
  </li>
  <li>
    <%= image_tag 'emco-210.jpg', class: 'scroller' %>
    <div class="orbit-caption">
      Salem Jr High
    </div>
  </li>
</ul>





